<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <nav class="nav-bar">
                <span class="welcome-message">
                    <a href="{% url 'store:home' %}">Home</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'store:store' %}">Store</a>
                    {% endif %}
                </span>
                {% if user.is_authenticated %}
                    <span class="welcome-message">
                        Welcome, <strong>{{ user.username }}</strong>! 
                        <a href="{% url 'store:logout' %}">Logout</a>
                    </span>
                {% endif %}
            </nav>
        </header>
        <br>
        <header class="header">
            <h1>Welcome to Pawpect!</h1>
            <p>Your one-stop pet food store</p>
        </header>
        <div class="main-container">
            <div class="sign-up-container">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" required>
                    </div>

                    <button type="submit" class="login-btn">Login</button>
                    <p class="sign-up-link">Don't have an Account? <a href="{% url 'store:signup' %}">Sign-up</a></p>
                </form>

                {% if error %}
                    <p class="error-message">{{ error }}</p>
                {% endif %}
            </div>
        </div>

        <footer class="footer">
            <p>&copy; 2024 Pawpect Store. All rights reserved.</p>
        </footer>
    </div>
</body>

</html>
